@import "../lib/bootstrap/scss/bootstrap";
@import "../lib/swiper/swiper-bundle.min.css";
@import "../css/dropdown-submenu.css";
@import "../css/staff-slider.css";

$black-basic: #000000;
$white-basic: #ffffff;
$nav-gradient: linear-gradient(0deg, #E6E6E6, #E6E6E6),
    linear-gradient(0deg, #D1D1D1, #D1D1D1),
    #4633B9;
$gray-basic: #F6F6F6;
$gray-light: #E5E5E5;
$button-radius: 100px;
$yellow: #FFA300;

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(../fonts/Montserrat/Montserrat-Regular.woff) format('woff'),
        url(../fonts/Montserrat/Montserrat-Regular.woff2) format('woff2')
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(../fonts/Montserrat/Montserrat-Medium.woff) format('woff'),
        url(../fonts/Montserrat/Montserrat-Medium.woff2) format('woff2')
}

@font-face {
    font-family: 'Montserrat';
    font-style: bold;
    font-weight: 600;
    font-display: swap;
    src: url(../fonts/Montserrat/Montserrat-Bold.woff) format('woff'),
        url(../fonts/Montserrat/Montserrat-Bold.woff2) format('woff2')
}

@font-face {
    font-family: 'Montserrat';
    font-style: bold;
    font-weight: 700;
    font-display: swap;
    src: url(../fonts/Montserrat/Montserrat-SemiBold.woff) format('woff'),
        url(../fonts/Montserrat/Montserrat-SemiBold.woff2) format('woff2')
}

@font-face {
    font-family: 'Montserrat';
    font-style: bold;
    font-weight: 800;
    font-display: swap;
    src: url(../fonts/Montserrat/Montserrat-ExtraBold.woff) format('woff'),
        url(../fonts/Montserrat/Montserrat-ExtraBold.woff2) format('woff2')
}

@font-face {
    font-family: 'ProximaNova';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(../fonts/ProximaNova/ProximaNova-Regular.woff) format('woff'),
        url(../fonts/ProximaNova/ProximaNova-Regular.woff2) format('woff2')
}

@font-face {
    font-family: 'ProximaNova';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(../fonts/ProximaNova/ProximaNova-Semibold.woff) format('woff'),
        url(../fonts/ProximaNova/ProximaNova-Semibold.woff2) format('woff2')
}

@font-face {
    font-family: 'ProximaNova';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url(../fonts/ProximaNova/ProximaNova-Bold.woff) format('woff'),
        url(../fonts/ProximaNova/ProximaNova-Bold.woff2) format('woff2')
}

@keyframes showTop {
    0% {
        transform: translateY(-1000px);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes showRight {
    0% {
        transform: translateX(-1000px);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes showLeft {
    0% {
        transform: translateX(100vw);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes move-tail {
    100% {
        left: 70%;
    }
}

@keyframes call {
    0% {
        transform: scale(0.5);
    }

    100% {
        transform: scale(1);
    }
}

/* Общие стили */
body {
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 20px;
    line-height: 140%;
    color: $black-basic;
    background-repeat: no-repeat;
    background-position: 0 0;
    scrollbar-color: $yellow;
    scrollbar-width: 3px;
}

::-webkit-scrollbar {
    width: 3px;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(90deg, #FFA400 0%, #FFCC00 100%);
    ;
}

h1,
h2,
h3 {
    margin: 0;
    padding: 0;
}

h2,
h3 {
    font-family: inherit;
    font-weight: 800;
    font-size: 60px;
    line-height: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    max-width: 100%;
    object-fit: contain;
}

ul,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

button {
    border: 0;
    background-color: transparent;
    cursor: pointer;
}

blockquote {
    margin: 0;
}

.visually-hidden {
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.container {
    width: 100%;
    max-width: 1570px;
    margin: 0 auto;
    padding: 0 25px;
}

/* Header */
.header {
    box-shadow: 0 11px 24px 0 rgb(0, 0, 0, 0.1);
    animation: showTop 1s ease-in-out;
}

.header__top {
    border-bottom: 1px solid $gray-basic;
}

.header__top__grid {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 27px 25px 21px;
}

.header__top-left {
    display: flex;
    align-items: center;
}

.main-logo {
    display: flex;
    flex-direction: column;
    margin-right: 44px;

    & img {
        display: block;
    }

    &__icon {
        width: 25px;
        height: 25px;
        margin-top: 5px;
        margin-right: 12px;
    }

    &__top {
        display: flex;
        align-items: center;
    }

    &__text {
        width: 273px;
        height: 32px;
    }

    &__bottom img {
        padding-left: 38px;
        margin-top: 5px;
    }
}

.header-navigation {
    margin-top: -9px;
}


.navigation {
    &-list {
        display: flex;
        align-items: center;
    }

    &-item {
        margin-right: 20px;
    }

    &-item a {
        font-family: inherit;
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        color: inherit;
        border-bottom: 1px solid $gray-light;
        transition: all 0.3s ease 0s;
    }

    &-item__reviews {
        padding-left: 24px;
        background-image: url(../images/svg/star-icon.svg);
        background-repeat: no-repeat;
        background-position: 0 2px;
    }
}

.navigation-item a:hover {
    border-bottom-color: $black-basic;
}

.header-contacts {
    display: flex;
    flex-direction: column;
    text-align: right;
    margin-top: -8px;
    white-space: nowrap;

    &__time {
        font-size: 14px;
        line-height: 17px;
        padding-left: 13px;
        padding-bottom: 3px;
        position: relative;
    }

    &__phone a {
        display: block;
        font-weight: 800;
        font-size: 26px;
        line-height: 32px;
        padding-left: 29px;
        position: relative;
    }
}

.header-contacts__time::before {
    content: '';
    position: absolute;
    top: 2px;
    left: 36px;
    width: 10px;
    height: 10px;
    background-image: url(../images/svg/call-icon.svg);
    background-repeat: no-repeat;
    animation: call 1s ease-in-out infinite;
}

.header-contacts__phone a::before {
    content: '';
    position: absolute;
    top: 8px;
    left: 7px;
    width: 20px;
    height: 20px;
    background-image: url(../images/svg/phone-icon.svg);
    background-repeat: no-repeat;
    background-size: contain;
}

.header-contacts__phone a:hover {
    color: $black-basic;
}

.navbar-header {
    display: none;
}

.header-menu {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.contact-us {
    display: block;
    font-size: 14px;
    line-height: 17px;
    color: $white-basic;
    padding: 8px 15px;
    background: linear-gradient(270deg, #FFCC00 0%, #FFA300 100%);
    border-radius: 70px;
}

.contact-us__mobile {
    display: none;
}

.header-menu {
    &__list {
        display: flex;
        justify-content: space-around;
        align-items: center;
        gap: 116px;
        margin-top: 8px;
    }

    &__item {
        position: relative;
    }
}

.header-menu__item::after {
    content: '';
    position: absolute;
    top: 0;
    right: -60px;
    width: 1px;
    height: 28px;
    background-color: $gray-light;
}

.header-menu__item:first-child {
    padding-left: 0;
}

.header-menu__item:last-child {
    padding-right: 0;
}

.menu-link {
    display: flex;
    font-family: inherit;
    color: $black-basic;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    position: relative;
    padding-right: 17px;
    background-repeat: no-repeat;
}

.menu-link::after {
    content: '';
    width: 10px;
    height: 10px;
    position: absolute;
    top: calc(50% - 2px);
    right: 5px;
    background-repeat: no-repeat;
    background-image: url(../images/svg/navigation-icons/select-arrow.svg);
    border: 0;
}

.catalog img {
    margin-right: 9px;
}

.catalog::after {
    display: none;
}

.apple {
    background-image: url(../images/svg/navigation-icons/apple.svg);
}

.smartphone {
    background-image: url(../images/svg/navigation-icons/smartphone.svg);
}

.tablet {
    background-image: url(../images/svg/navigation-icons/tablet.svg);
}

.laptop {
    background-image: url(../images/svg/navigation-icons/laptop.svg);
}

.playstation {
    background-image: url(../images/svg/navigation-icons/playstaition.svg);
}

.vacuum {
    background-image: url(../images/svg/navigation-icons/vacuum.svg);
}

.company {
    background-image: url(../images/svg/navigation-icons/company.svg);
}

.warranty {
    background-image: url(../images/svg/navigation-icons/warranty.svg);
}

.sales {
    background-image: url(../images/svg/navigation-icons/sales.svg);
}

.bonus {
    background-image: url(../images/svg/navigation-icons/bonus.svg);
}

.review {
    background-image: url(../images/svg/navigation-icons/review.svg);
}

.contacts {
    background-image: url(../images/svg/navigation-icons/contacts.svg);
}

.nav-mobile {
    display: none;
}

.navbar {
    padding-bottom: 15px;

    &-expand-sm .navbar-nav .nav-link {
        padding: 0;
    }

    &-expand-sm .navbar-nav .apple {
        padding-left: 46px;
        padding-right: 26px;
        background-position-x: 9px;
    }

    &-expand-sm .navbar-nav .smartphone {
        padding-left: 48px;
        padding-right: 26px;
        background-position-x: 11px;
    }

    &-expand-sm .navbar-nav .tablet {
        padding-left: 47px;
        padding-right: 26px;
        background-position-x: 11px;
    }

    &-expand-sm .navbar-nav .laptop {
        padding-left: 47px;
        padding-right: 26px;
        background-position-x: 11px;
    }

    &-toggler {
        border: 0;
    }

    &-toggler-icon {
        background-image: url(../images/svg/burger.svg);
        width: 34px;
        height: 19px;
    }
}

/* Intro */
.intro {
    border-bottom: 2px solid $gray-basic;
    box-shadow: 0 11px 24px 0 rgb(0, 0, 0, 0.1);
    background-image: url(../images/intro-background.png);
    background-repeat: no-repeat;
    background-position: 58vw;
    background-size: contain;


    &__wrapper {
        display: flex;
        position: relative;
    }

    &__left {
        padding-top: 120px;
        padding-bottom: 140px;
        flex-basis: 847px;
        animation: showLeft 1s ease-in-out;
    }

    &__right {
        animation: showRight 1s ease-in-out;
    }

    &__text {
        font-weight: 500;
        font-size: 26px;
        line-height: 120%;
        margin-bottom: 60px;
    }

    &__btns {
        display: flex;
        gap: 30px;
        margin-bottom: 40px;
    }

    &__btn-book {
        display: flex;
        align-items: center;
        padding: 24px 60px 24px 86px;
        color: $white-basic;
        font-weight: 700;
        font-size: 18px;
        line-height: 120%;
        background: linear-gradient(270deg, #FFCC00 0%, #FFA300 100%);
        box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
        border-radius: 77px;
        transition: all 0.3s ease 0s;
        position: relative;
    }

    &__btn-cost {
        color: $black-basic;
        font-weight: 700;
        font-size: 18px;
        line-height: 120%;
        border: 2px solid $gray-light;
        border-radius: 77px;
        padding: 20px 60px 20px 59px;
        transition: all 0.3s ease 0s;
    }

    &__btn-cost svg {
        margin-right: 11px;
    }

    &-features-list {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
    }

    &-features__item {
        flex-basis: calc(50% - 30px);
        padding: 7px 0 7px 90px;
        position: relative;
    }
}

.intro__btn-book::before {
    content: '';
    position: absolute;
    top: calc(50% - 9px);
    left: 60px;
    width: 12px;
    height: 18px;
    background-image: url(../images/svg/button-arrow.svg);
    background-repeat: no-repeat;
}

.intro__btn-book::after {
    content: '';
    position: absolute;
    top: -9px;
    left: 75px;
    width: 42px;
    height: 12px;
    background-image: url(../images/svg/book-tail.svg);
    background-repeat: no-repeat;
}

.intro__btn-book:hover {
    color: $white-basic;
    background: linear-gradient(45deg, #FFCC00 0%, #FFA300 100%);
}

.intro__btn-book:hover::after {
    animation: move-tail 0.3s ease-in-out;
    animation-fill-mode: forwards;
}

.intro__btn-cost:hover {
    background-color: $black-basic;
    color: $white-basic;
    border-color: $black-basic;

    svg rect {
        fill: $white-basic;
    }
}

.intro-features__item::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 70px;
    height: 70px;
    border-radius: 10px;
    background-color: $white-basic;
    box-shadow: 0px 10px 30px -6px rgba(35, 25, 4, 0.15);
    background-repeat: no-repeat;
    background-position: center;
}

.intro-feature__tool::before {
    background-image: url(../images/svg/intro-icons/tool.svg);
}

.intro-feature__warranty::before {
    background-image: url(../images/svg/intro-icons/warranty.svg);
}

.intro-feature__bonus::before {
    background-image: url(../images/svg/intro-icons/bonuses.svg);
}

.intro-feature__check::before {
    background-image: url(../images/svg/intro-icons/check.svg);
}

.title-main {
    font-weight: 800;
    font-size: 80px;
    line-height: 100%;
    margin-bottom: 60px;
}

.repair-counter {
    padding: 20px 40px;
    background: $white-basic;
    box-shadow: 0px 10px 30px -6px rgba(35, 25, 4, 0.15);
    border-radius: 100px;
    display: flex;
    flex-wrap: nowrap;
    position: absolute;
    bottom: 64px;
    right: -39px;

    &__numbers {
        font-family: 'ProximaNova';
        font-weight: 700;
        font-size: 50px;
        line-height: 61px;
        color: $yellow;
    }

    &__text {
        padding-left: 80px;
        line-height: 120%;
        background-image: url(../images/svg/intro-icons/wink-smile.svg);
        background-repeat: no-repeat;
        background-size: 60px 60px;
        background-position: 10px 0;
    }
}

/* Staff */
.staff {
    padding-top: 120px;
    text-align: center;

    &-title {
        font-weight: 700;
        font-size: 48px;
        line-height: 100%;
        margin-bottom: 40px;
    }

    &-text {
        font-size: 26px;
        line-height: 120%;
        margin-bottom: 80px;
    }
}

.services {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-bottom: 120px;

    padding-top: 120px;

    &__row {
        display: flex;
        gap: 30px;
    }

    &-text {
        order: 2;
    }

    &__item {
        display: table-cell;
        flex-basis: calc(50% - 30px);
        flex-grow: 1;
    }

    &-text {
        vertical-align: top;
        text-align: left;
    }

    &-title {
        font-weight: 800;
        font-size: 60px;
        line-height: 100%;
        margin-bottom: 60px;
    }

    &-about {
        font-size: 20px;
        line-height: 140%;
        margin-bottom: 32px;
    }

    &-btn {
        display: inline-block;
        font-weight: 700;
        font-size: 18px;
        line-height: 120%;
        padding: 17px 42px;
        margin-bottom: 30px;
        border: 2px solid $black-basic;
        border-radius: 100px;
        transition: all 0.3s ease 0s;
    }

    &-btn:hover {
        background-color: $black-basic;
        color: $white-basic;
        border-color: $black-basic;
    }

    &-photo img {
        height: 478px;
        width: 100%;
        object-fit: cover;
    }
}

.services-about:nth-child(3) {
    margin-bottom: 40px;
}

.services__row:nth-child(2) img {
    height: 448px;
}


@media (max-width: 1651px) {
    .container {
        max-width: 1130px
    }

    .header {
        &__top__grid {
            padding-top: 25px;
            padding-bottom: 16px;
        }

        &-navigation {
            display: none;
        }

        &-menu__list {
            gap: 41px;
            margin-top: 4px;
        }
    }

    .menu-link:not(.catalog) {
        font-size: 14px;
        line-height: 17px;
    }

    .catalog img {
        margin-right: 10px;
    }

    .header-menu__item::after {
        display: none;
    }

    .header-menu__item:first-child::after {
        display: block;
        height: 15px;
        top: 6px;
        right: -56px;
    }

    .navbar {
        padding-top: 8px;
        padding-bottom: 12px;

        &-expand-sm .navbar-nav .nav-link {
            padding-top: 5px;
            padding-bottom: 5px;
        }

        &-expand-sm .navbar-nav .apple {
            background-position: 8px 0;
            margin-left: 27px;
        }

        &-expand-sm .navbar-nav .smartphone {
            padding-left: 43px;
            background-position: 6px 0;
        }

        &-expand-sm .navbar-nav .tablet {
            margin-left: -13px;
            background-position: 11px 0;
        }

        &-expand-sm .navbar-nav .laptop {
            padding-left: 33px;
            background-position: -1px -1px;
        }
    }

    .intro {
        background-position: 61vw;

        &__left {
            padding-top: 80px;
            padding-bottom: 100px;
            flex-basis: 679px;
        }

        &__text {
            font-size: 20px;
            margin-bottom: 57px;
        }

        &__btns {
            gap: 20px;
        }

        &__btn-book {
            font-size: 16px;
            padding: 15px 41px 15px 67px;
        }

        &__btn-cost {
            font-size: 16px;
            padding: 15px 40px 15px 40px
        }

        &-features-list {
            row-gap: 40px;
        }

        &-features__item {
            font-size: 18px;
            padding: 9px 0 0px 90px;
            flex-basis: calc(50% - 22px);
            min-height: 70px;
        }
    }

    .intro__btn-book:before {
        left: 40px;
    }

    .title-main {
        font-size: 70px;
    }

    .repair-counter {
        bottom: 198px;
        right: -76px;
    }

    .staff {
        margin-top: 160px;

        &-swiper {
            width: 1077px;
        }

        &-title {
            font-size: 42px;
        }

        &-text {
            font-size: 20px;
        }

        &-swiper .swiper-wrapper {
            padding-bottom: 110px;
        }
    }

    .services {
        &-title {
            font-size: 50px;
        }

        &-about {
            font-size: 18px;
        }

        &-btn {
            font-size: 15px;
            padding: 14px 39px;
        }

        &-photo img {
            height: 537px;
        }
    }

    .services__row:nth-child(2) img {
        height: 487px;
    }
}

@media (max-width: 1284px) {
    .container {
        max-width: 900px
    }

    .header-menu__item:nth-child(5) {
        display: none;
    }

    .header {
        &__top__grid {
            padding-top: 18px;
        }

        &-contacts__time {
            font-size: 12px;
            line-height: 15px;
            padding-bottom: 0;
        }

        &-contacts__phone a {
            font-size: 18px;
            line-height: 22px;
            padding-left: 33px;
            margin-top: 5px;
        }
    }

    .header-contacts__time:before {
        top: 4px;
        left: 2px;
        width: 8px;
        height: 8px;
    }

    .header-contacts__phone a:before {
        top: 4px;
        left: 12px;
        width: 18px;
        height: 18px;
    }

    .header-menu__item:first-child:after {
        top: 10px;
        right: -31px;
    }

    .menu-link:after {
        top: calc(50% - 5px);
        right: 6px;
    }

    .navbar {
        &-expand-sm .navbar-nav .apple {
            margin-left: 28px;
            padding-top: 4px;
        }

        &-expand-sm .navbar-nav .smartphone {
            padding-left: 45px;
        }
    }

    .intro {
        background-position: 62vw;

        &__left {
            flex-basis: 529px;
            padding-bottom: 76px;
        }

        &__text {
            font-size: 16px;
            margin-bottom: 40px;
        }

        & &__btns {
            gap: 10px;
            margin-bottom: 32px;
        }

        &__btn-book {
            font-size: 14px;
            padding: 15px 24px 15px 59px;
        }

        &__btn-cost {
            font-size: 14px;
            padding: 9px 30px 9px 21px;
        }

        &-features-list {
            row-gap: 32px;
        }

        &-features__item {
            font-size: 14px;
            line-height: 130%;
            padding-left: 66px;
            min-height: 50px;
        }
    }

    .intro__btn-book:after {
        left: 45px;
    }

    .intro-features__item:before {
        width: 50px;
        height: 50px;
        background-size: 36px 36px;
    }

    .title-main {
        font-size: 50px;
        padding-right: 40px;
        margin-bottom: 37px;
    }

    .repair-counter {
        padding: 14px 27px;
        bottom: 146px;
        right: -4px;

        &__numbers {
            font-size: 28px;
            line-height: 34px;
        }

        &__text {
            font-size: 14px;
            background-size: 37px 37px;
            background-position: 6px -2px;
            padding-left: 52px;
        }
    }

    .staff {
        margin-top: 120px;
        padding-top: 80px;

        &-swiper {
            width: 849px;
        }

        &-title {
            font-size: 36px;
            margin-bottom: 32px;
        }

        &-text {
            font-size: 16px;
            margin-bottom: 60px;
        }
    }

    .serviceman {
        &-photo {
            margin-bottom: 32px;
        }

        &-name {
            font-size: 20px;
        }

        &-history {
            font-size: 14px;
            max-width: 158px;
            margin-bottom: 24px;
        }

        &-works,
        &-blockquote {
            font-size: 14px;
        }

        &-works {
            margin-bottom: 24px;
            padding-left: 26px;
            max-width: 179px;

            &::before {
                width: 16px;
                height: 16px;
                background-size: 15px 15px;
            }
        }

        &-blockquote {
            padding: 20px 16px 14px;
        }
    }

    .staff-swiper .swiper-wrapper {
        padding-bottom: 54px;
    }

    .swiper-button-prev,
    .swiper-button-next {
        width: 56px;
        height: 56px;
    }

    .swiper-button-prev {
        left: 0;
    }

    .swiper-button-next {
        right: 0;
    }

    .swiper-button-next:after,
    .swiper-button-prev:after {
        width: 8px;
        height: 8px;
        border: 2px solid $black-basic;
        border-left: 0;
        border-top: 0;
    }

    .services {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 0;

        &__row {
            display: contents;
        }

        &-text {
            order: 0;
            flex-basis: 100%;
        }

        &-photo {
            flex-basis: 30%;
        }

        &__item {
            flex-grow: 1;
            flex-shrink: 1;
        }

        &-title {
            font-size: 40px;
            margin-bottom: 40px;
        }

        &-about {
            font-size: 14px;
            margin-bottom: 24px;
        }

        &-btn {
            font-size: 14px;
            padding: 15px 29px;
            margin-bottom: 40px;
        }

    }

    .services-about:nth-child(3) {
        margin-bottom: 32px;
    }

    .services-photo img,
    .services__row:nth-child(2) img {
        height: 191px;
        width: 265px;
    }

}

@media (max-width: 917px) {
    .container {
        max-width: 700px
    }

    .header__top__grid {
        padding-top: 17px;
        padding-bottom: 12px;
    }

    .catalog span {
        display: none;
    }

    .catalog img {
        margin-right: 26px;
    }

    .header-menu__list {
        gap: 12px;
    }

    .header-menu__item:first-child:after {
        right: -24px;
    }

    .menu-link {
        background-size: 20px 20px;
    }

    .navbar {
        &-expand-sm .navbar-nav .apple {
            margin-left: 26px;
            background-position: 20px 3px;
        }

        &-expand-sm .navbar-nav .smartphone {
            background-position: 5px 3px;
            padding-left: 32px;
        }

        &-expand-sm .navbar-nav .tablet {
            margin-left: -16px;
            background-position: 22px 3px;
        }
    }

    .intro {
        background-position: 52vw top;

        &__left {
            max-width: 39vw;
            padding-bottom: 80px;
        }

        &__btn-book {
            padding: 16px 24px 16px 59px;
        }

        &-features-list {
            flex-direction: column;
        }

        &-features__item {
            padding-top: 0;
            padding-left: 75px;
        }
    }

    .title-main {
        margin-bottom: 40px;
    }

    .tablet__hide {
        display: none;
    }

    .repair-counter {
        bottom: 95px;
        right: 41px;
    }

    .staff {
        padding-top: 0;

        &-swiper {
            width: 635px;
        }

        &-title {
            max-width: 500px;
            margin-left: auto;
            margin-right: auto;
        }
    }

    .serviceman {

        &-photo {
            width: 165px;
            height: 165px;
        }

        &-works,
        &-blockquote {
            font-size: 14px;
        }

        &-blockquote {
            font-size: 12px;
            padding: 20px 10px 14px;
        }
    }

    .services {
        padding-top: 105px;
    }

    .services-photo img,
    .services__row:nth-child(2) img {
        height: 141px;
        width: 197px;
    }
}

@media (min-width: 577px) and (max-width: 690px) {
    .navbar-expand-sm .navbar-nav .apple {
        display: none;
    }

    .staff-swiper {
        width: 576px;
    }
}

@media (max-width: 576px) {
    .header-contacts {
        &__time {
            display: none;
        }

        &__phone a {
            font-weight: 600;
            font-size: 16px;
            line-height: 20px;
            padding-left: 0;
            margin-top: 9px;
        }
    }

    .header-contacts__phone a:before {
        display: none;
    }

    .main-logo {
        &__icon {
            width: 13px;
            height: 13px;
            margin-right: 6px;
        }

        &__text {
            width: 147px;
            height: 17px;
        }

        &__bottom {
            display: none;
        }
    }

    .header__top {
        border: 0;

        &__grid {
            padding-top: 7px;
        }
    }

    .contact-us__mobile {
        display: block;
    }

    .catalog {
        display: none;
    }

    .header-menu {
        &__list {
            align-items: flex-start;
        }

        &__item {
            width: 100%;
            padding: 25px 0;
            border-bottom: 2px solid $gray-basic;
        }
    }

    .header-menu__item:first-child {
        display: none;
    }

    .header-menu__item:nth-child(2) {
        padding-top: 5px;
    }

    .navbar {
        background-color: #fff;
        overflow: scroll;
        padding-bottom: 0;

        & a {
            color: $black-basic;
        }

        &-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 20px;
            position: relative;
        }

        &-header-title {
            font-weight: 600;
            font-size: 24px;
            line-height: 29px;
        }

        &-expand-sm .navbar-nav .nav-link {
            padding-left: 29px;
            padding-right: 26px;
            margin-left: 0;
            background-position-x: 0;
            background-position-y: 3px;
        }

        &-expand-sm .navbar-nav .nav-link.show {
            margin: 24px;
            padding-left: 44px;
            background-image: url(../images/svg/menu-back.svg);
        }

        &-expand-sm .navbar-nav .dropdown-item {
            width: fit-content;
        }

        &-expand-sm .navbar-nav .dropdown-menu .dropdown-toggle {
            padding-left: 16px;
        }

        &-toggler {
            padding-left: 0;
            padding-top: 0;
        }

    }

    .btn-close {
        width: 24px;
        height: 24px;
        background-color: $gray-basic;
        background-size: 10px 10px;
        border-radius: 50%;
        opacity: 1;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 5;
    }

    .nav-link:focus,
    .nav-link:hover {
        font-weight: 600;
        color: $black-basic;
    }

    .nav-mobile {
        display: block;
    }

    .dropdown {
        &-menu.show {
            border: 0;
            width: 100vw;
            position: absolute;
            top: 0;
            left: -33px;
            background-color: #ffffff;
            z-index: 5;
            height: 100vh;
            padding-top: 0;
        }

        &-item {
            position: relative;
            padding-right: 26px;
        }
    }

    .dropdown-submenu>a:after {
        content: "";
        width: 10px;
        height: 10px;
        position: absolute;
        top: calc(50% - 5px);
        right: 5px;
        transform: rotate(270deg);
        background-repeat: no-repeat;
        background-image: url(../images/svg/navigation-icons/select-arrow.svg);
        background-repeat: no-repeat;
        border: 0;
        margin-top: 0;
    }

    .dropdown-submenu:first-child {
        padding-top: 0;
    }

    .menu-link:after {
        transform: rotate(270deg);
    }

    .show {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        padding-right: 24px;
        padding-left: 24px;
        overflow: scroll;
        background-color: white;
        width: 100vw;
        z-index: 4;
    }

    .intro {
        background-size: 216px 231px;
        background-position: 57vw top;

        &__left {
            padding-top: 60px;
            padding-bottom: 104px;
            max-width: 100vw;
        }

        &__text {
            font-size: 14px;
            margin-bottom: 32px;
            max-width: 48vw;
        }

        &__btns {
            margin-bottom: 26px;
        }

        &__btn-book {
            max-width: 400px;
            padding-left: 69px;
            justify-content: center;
        }

        &-features-list {
            flex-direction: row;
        }

        &-features__item {
            padding-left: 0;
            padding-top: 66px;
            line-height: 140%;
            text-align: center;
        }

        &-features-list {
            row-gap: 24px;
        }
    }

    .intro-features__item:before {
        left: calc(50% - 18px);
    }

    .mobile__hide {
        display: none;
    }

    .title-main {
        font-size: 26px;
        margin-bottom: 34px;
        max-width: 39vw;
    }

    .repair-counter {
        bottom: 0;
        right: 7%;
        left: 7%;
    }

    .staff {
        margin-top: 43px;

        &-swiper {
            width: 242px;
        }

        &-title {
            font-size: 22px;
            margin-bottom: 24px;
        }

        &-text {
            font-size: 14px;
            max-width: 220px;
            margin-bottom: 40px;
            margin-left: auto;
            margin-right: auto;
        }
    }

    .serviceman {
        &-photo {
            width: 210px;
            height: 210px;
            margin-bottom: 24px;
        }

        &-name {
            font-size: 18px;
        }

        &-history {
            max-width: 152px;
        }

        &-works {
            max-width: 249px;
            padding-left: 26px;
            text-align: left;
        }
    }

    .staff-swiper .swiper-wrapper {
        padding-bottom: 4px;
    }

    .services {
        padding-top: 63px;
        margin-bottom: 50px;

        &-photo {
            margin-bottom: 24px;
            flex-basis: 100%;
        }

        &-title {
            font-size: 26px;
            margin-bottom: 32px;
            text-align: center;
        }

        &-btn {
            width: 100%;
            margin-bottom: 32px;
            text-align: center;
        }

    }

    .services-about:nth-child(3) {
        margin-bottom: 27px;
    }

    .services-photo img,
    .services__row:nth-child(2) img {
        height: 234px;
        width: 327px;
    }
}